
.card{
  -webkit-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.75);
box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.75);
}
 
  .transparent-input{
    background-color:rgb(215, 241, 250);
    display: flex;
    margin: auto;
    width: 350px;
    height: auto;
 }  
 
 .font-weight{
  color: rgb(231, 240, 248);
  font-weight: 900;
 }

 .bolder{
  text-shadow: 0 0 3px #252525, 0 0 5px #4848f7;
  color: #ffffff;
  font-weight: 900;
 }
 .bolder2{
  text-shadow: 0 0 3px #252525, 0 0 5px #4848f7;
  color: #ffffff;
  font-weight: 400;
 }

 .bolder3{
  text-shadow: 0 0 2px #252525, 0 0 3px #4848f7;
  color: #f8f7f7;
  font-weight: 400;
 }
 