/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Arial", Times, serif;
    font-family: 'Raleway', sans-serif;
    background-image: url('assets/body-bg2.jpg');
}


